img{
    width: 250px;
    height: 250px;
}

button{
    margin-top: 5px;
    background-color: rgb(87, 87, 233);
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.grid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.produto{
    padding: 20px;
    margin: 10px;
    border: 0.1px solid #000;
    width: 255px;
    border-radius: 10px;
}

#container{
    display: flex;
    justify-content: center;
  }